  <div class="page-header">
    <h1>Flapper News</h1>
  </div>

    <div>
      Sort by:
      <div class="btn-group" role="group" >
        <button type="button" class="btn btn-default" ng-click="setOrder('title')">title</button> 
        <button type="button" class="btn btn-default" ng-click="setOrder('upvotes')">upvotes</button> 
        <button type="button" class="btn btn-default" ng-click="setOrder('time')">date</button>
      </div>
    </div>

    <br/>

      <div ng-repeat="post in posts | orderBy: order">
        <span class="glyphicon glyphicon-thumbs-up"
          ng-click="incrementUpvotes(post)"></span>
          <span class="glyphicon glyphicon-thumbs-down"
          ng-click="decrementUpvotes(post)"></span>
        {{post.upvotes}}
        <span style="font-size:20px; margin-left:10px;">
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
          <span am-time-ago="post.time"></span>
        </span>
        <span>
            <a href="#/posts/{{post._id}}">({{post.comments.length}}) Comments</a>
        </span>
        
      </div>

      <form ng-submit="addPost()"
        style="margin-top:30px;">
        <h3>Add a new post</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Link"
          ng-model="link"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>